body {
    background-color: #88bdbc;
    margin: 0;
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    padding: 10px;
}

textarea {
    height: 400px;
}

button {
    margin-top: 5px;
}
